html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 13px;
  height: 100vh;
}

header {
  background-color: #1e6da3;
  color: #e3e3e3;
  font-weight: 100;
  font-size: 13px;
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

.main-header {
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul,
.main-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-right {
  margin-left: 100px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}

a {
  color: #e3e3e3;
  text-decoration: none;
}

a.active,
a:hover {
  border-bottom: 4px solid #fff;
}

.highlight {
  background-color: #111;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ad {
  color: #e3e3e3;
  font-size: 25px;
  padding: 80px 0px;
}

.news {
  position: relative;
  width: 90%;
  max-width: 1440px;
  height: 700px;
  margin-top: auto;
}
.news img {
  width: 100%;
  height: 100%;
}

.news-title {
  top: 10px;
  left: 20px;
  right: 0;
  bottom: 0;
  color: #e3e3e3;
  font-size: 40px;
  font-weight: 300;
  position: absolute;
  width: 35%;
  line-height: 1.25;
}

.related-news {
  background: rgba(0, 0, 0, 0.8);
  color: #e3e3e3;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
}

.sub-news {
  padding: 20px;
  text-align: left;
}
.sub-news:not(:last-of-type) {
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}

.news-category {
  font-weight: bold;
  font-size: 11px;
  background-color: lightgrey;
  color: black;
  border-radius: 2px;
  padding: 3px;
}

.short-title {
  font-size: 11px;
}

.title {
  font-size: 17px;
}

.sub-news.active {
  border-bottom: 5px solid #1e6da3;
}
.news-category.active {
  background-color: #1e6da3;
  color: white;
}
.short-title.active,
.title.active {
  font-weight: bold;
}

.sub-news:hover {
  border-bottom: 5px solid #e3e3e3;
}
